*{
    margin: 0px;
    padding: 0px;

}
.img-1{
    display: flex;
  background-color: rgb(255, 255, 255);
  margin-left: 150px;
  position: absolute;
  top: 20px;
    
}
.sub-container{
    background-color: rgb(255, 255, 255);
    height: 92px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
.font1{
    display: flex;
    color: rgb(33, 28, 28);
    gap: 47px;
    left: 386PX;
    position: absolute;
    top: 4px;
 font-family: sans-serif;
    font-size:16px;
    font-weight: bold;

}



.co-img{
    width: 80px;
    height: 200px;
    
}

.co{
    padding: 130px 0px 0px 110px;
    
    
}
.India1{
    display: flex;
    padding: 50px 0px 0px 110px ;
    font-size:50px;
    width: 400px;
    display: contents;
  

}
.india{ 
    margin-left: 110px;
    margin-top: 50px;
    font-size: 55px;
    font-family:sans-serif;
    font-weight: bold;
}
.payment{
    margin-left: 110px;
    font-weight: bold;
    font-size: 55px;
    font-family:sans-serif;
}
#Recharge{
    margin-left: 110px;
    margin-top: 5px;
    font-size:19px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
   
    
}
.phone{
    width: 528px;
    height: 485px;
    display: flex;
    position: absolute;
    margin-left: 955px;
    bottom: 8px;
   
    
}
.Download{
    background-color: rgb(0, 0, 0);
    width: 250px;
    height: 45px;
    position: absolute;
    left: 110px;
    top:720px;
    border-radius: 30px;


}


.dpa{
    color: aliceblue;
    font-size: 15px;
    position: absolute;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    left: 22px;
    top: 14px;

}
.apple{
    position: absolute;
    width: 18px;
    height: 17px;
    left: 193px;
    top: 13px;
    
}
.play{
    position: absolute;
    width: 18px;
    height: 19px;
    left: 215px;
    bottom: 14px;

}
.Download:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
   .apple,.play{
      filter: invert(100%) brightness(0%) contrast(100%);
   }
   .dpa{
    color: black;
   }
  
  }
  

.Consumer{
   
    display: flex;
    align-items: center;
    
    
 

}


.Consumer:hover{
    background-color: rgb(246, 246, 246);
    border-radius: 3px;
 

}
.sign{
    background-color:#00A6D7;
    color: aliceblue;
    display: flex;
   align-items: center;
   align-content: flex-start;
   justify-content: center;
   gap: 9px;
   
    
padding: 0px 0px .5px 15.5px ;
  border-radius: 20px;
  
}
.f{
    margin-top: 2px;
}
    



.p{
   margin-top:2px;
   margin-right: 3.3px;

}
.ss{
    display: flex;
   justify-content:space-around;
   margin-left: 1110px;
   margin-top:-540px
   
    
  
}
.img-container{
    position: absolute;

}

